.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    background-color: #fff;
    height: 70vh;
    width: 40vw;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    color: #710373;
}

.username {
    width: 80%;
}

.password {
    width: 80%;
}

.forget a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #710373;
}

.button {
    width: 80%;
}

.user {
    padding: 15px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin-top: 5px;
}

.pass {
    padding: 15px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin-top: 5px;
}


.btn-grad {
    background-image: linear-gradient(to right, #114357 0%, #F29492 51%, #114357 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
    width: 100%;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* @media screen and (min-width:1080px) {
    .login {
        border-radius: 10px;
    }
} */

@media screen and (min-width:480px) and (max-width:1080px) {
    .login {
        width: 90%;
        gap: 15px;
    }

    h1 {
        font-size: 30px;
    }

    .user {
        padding: 12px;
    }

    .pass {
        padding: 12px;
    }

    .label {
        font-size: 14px;
    }

    .btn-grad {
        padding: 10px;
    }
}

@media screen and (max-width:480px) {
    .login {
        padding: 15px;
        width: 90%;
        gap: 10px;
        height: auto;
    }

    h1 {
        font-size: 25px;
    }

    .user {
        padding: 7px;
    }

    .pass {
        padding: 7px;
    }

    .label {
        font-size: 14px;
    }

    .btn-grad {
        width: 100%;
        padding: 10px;
    }

    .error {
        font-size: 14px;
    }

}